
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cambia-luz{
    position:fixed;
}
.poste{
    background-color: black;
    width: 25px;
    height: 200px;
}

.luces{
    border-radius: 150px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.rojo{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarillo{
    background-color: yellow;
}

.morado{
    background-color: purple;
}

.conjunto-luces{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    padding: 20px 0 20px 0;
    background-color: black;
    width: 200px;
    border-radius: 20px;
}

.selected{
    box-shadow: 0 0 2em 5em rgba(255,215,0,0.5);
}

.show{
    display: inline;
}
.noshow{
    display: none;
}